
<html ng-app="episodeBrain" ng-csp>
  <head>
    <title>EpisodeBrain</title>
    <link rel="stylesheet" type="text/css" href="popup.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">

    <script src="jquery-3.1.1.min.js"></script>
    <script src="angular.js"></script>
    <script src="popup.js"></script>

  </head>
  <body id="bodyTag" ng-controller="episodeBrainController">


    <div class="header">
      <img src="images/header.png">
    </div>

    <hr>


    <div class="bodyspace">

      <div class="listing" ng-repeat="website in watchList.websites">
        <span class="website-name">
          <b>{{website.name}}</b>
        </span>
        <div ng-repeat="show in website.shows">

          <span ng-href="#" class="remove-listing" ng-click="removeShow(website, show)">
            <a><b>x</b></a>
          </span>

          <span class="show-listing">

          {{show.name}} 

          <a id="redirect_url" ng-href="{{show.url}}">
            {{show.episode}}
          </a>

          </span>

        </div>
        <hr>
      </div>

      

    </div>



    <div class="footer">
      <div class="copyright-name">
        Rohan Kanjani &copy;
      </div>

      <div class="add">
        <button id="add" class="add-button btn btn-success btn-circle" ><img src="images/add.svg" ng-click="addWebsite()"></button>
      </div>
    </div>

  </body>
</html>

