html, body{
	height:172px;
	width:250px;
}


body {
font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
font-size: 100%;
background-color: #f8f8f8;
}

hr{
	margin-top:10px !important;
	margin-bottom:10px !important;
}


#status {
/* avoid an excessively wide status text */
white-space: pre;
text-overflow: ellipsis;
overflow: hidden;
max-width: 400px;
}


.listing{
	margin-left:10px;
}



.add{
	height: 20px;
    text-align: -webkit-center;


    background-color: #ffffff;
}

.add-button{

    background-color: #4a3ac2;
    width: 100%;
    text-align: center;
}

.add-button:focus{
	outline:0 !important;
}

.btn-success{
	background-color: #3cba66 !important;
}

.header{
    position: relative;
    height: 26px;
    text-align: center;
    width: 235px;
    margin-top: 5px;
}

.logo{
	width: 160px;
}

.show-listing{
	margin-left:10px;
	font-size: 0.8em;
}

.copyright-name{
	width: 200px;
    line-height: 2.5em;
    padding-left: 10px;
}

.footer{
	
}

.glyphicon{
	height:20px;
	width:20px;
}

.remove-website{
	float:right;
	margin-right:10px;
}

.remove-show, .remove-website{
	color:#ff7f7f !important;
}

.remove-show:hover, .remove-website:hover{
	color:#FF0000 !important;
	 text-decoration: none;
	 cursor: pointer;
}

.row-listing{
	font-size:1em;
}