
<html ng-app="episodeBrain" ng-csp>
  <head>
    <title>EpisodeBrain</title>
    <link rel="stylesheet" type="text/css" href="popup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="angular.js"></script>
    <script src="popup.js"></script>
    <script src="jquery-3.1.1.min.js"></script>

  </head>
  <body id="bodyTag" ng-controller="episodeBrainController">


    <div class="header">
      <img src="images/header.png">
    </div>

    <hr>


    <div class="bodyspace">

      <div class="listing" ng-repeat="website in watchList.websites">
        <span class="website-name">
          <b>{{website.name}}</b>
        </span>
        <div ng-repeat="show in website.shows">

          <span class="show-listing">

          {{show.name}}: 

          <a ng-href="{{show.url}}">
            {{show.episode}}
          </a>

          </span>

        </div>
        <hr>
      </div>

      

    </div>



    <div class="footer">
      <div class="copyright-name">
        Rohan Kanjani &copy;
      </div>

      <div class="add">
        <button type="button" ng-click="addWebsite()" id="add" class="btn btn-success add-button">+</button>
      </div>
    </div>

  </body>
</html>

