html, body{
	height:10px;
	width:250px;
}


body {
	font-family: 'Quicksand', sans-serif !important;
	font-size: 100%;
	background-color: #f8f8f8;
}


hr{
	margin-top:10px !important;
	margin-bottom:10px !important;
}


#status {
/* avoid an excessively wide status text */
white-space: pre;
text-overflow: ellipsis;
overflow: hidden;
max-width: 400px;
}


.add{
	height: 20px;
    text-align: -webkit-center;


    background-color: #ffffff;
}

.add-button{

    background-color: #4a3ac2;
    width: 100%;
    text-align: center;
}

.add-button:focus, .remove-show:focus, .remove-website:focus{
	outline:0 !important;
}

.btn-success{
	background-color: #3cba66 !important;
}

.header{
    position: relative;
    height: 35px;
    text-align: center;
    width: 235px;
    margin-top: 5px;
}

.logo{
	width: 160px;
}

.show-listing{
	font-size: 0.8em;
}

.copyright-name{
	width: 200px;
    line-height: 2.5em;
    padding-left: 10px;
}

.getting-started{
	text-align:center;
	margin-bottom: 15px;

}

.glyphicon{
	height:20px;
	width:20px;
}

.remove-website{
	float:right;
	margin-right:10px;
	height: 16px;
    margin-top: 1px;
}

.edit, .done{
	float:right;
	margin-right:10px;
	height: 16px;
    margin-top: 1px;
    cursor:pointer;
}

.remove-show{
	height: 10px;
}


.remove-show, .remove-website{
	font-style: normal !important;
	text-decoration: none !important;
	cursor: pointer !important;
}

.remove-show:hover, .remove-website:hover{
	color:#FF0000 !important;
	text-decoration: none !important;
	cursor: pointer !important;
	font-style: normal !important;

}

.row-listing{
	font-size:1em;
	line-height: 1.3em;
    padding-top: 7px;
}

.row-listing, .website-name{
	padding-left: 10px;
}

.edit-name{
	border:none;
	width:160px;
}

.editable-click, a.editable-click, .editable-click, a.editable-click{
	color:#000 !important;
	border-bottom: none !important;
	text-decoration: none !important;
	font-style: normal;
}

.editable-buttons > .btn{
	padding:0 !important;
}
